.bg-black{
	background-color: black;
}
.font-div{
	width: 30%;

}
img{
	width: 100%;
	height: 100%;
}
 
/* Responsive img header */
@media only screen and (min-width: 1198px){
	.font-div{
		padding: 42.5px 0px !important;
	}
}
.image{
	height: 250px !important;
	width: 350px !important;
}